.post{
    background-color: white;
    padding:15px;
    margin-bottom: 10px;
    border-radius:10px;
}

.post_header{
    display:flex;
    margin-bottom:10px;
}

.post_info {
    margin-left:10px;
}

.post_info > h2{
    margin:0px;
}

.post_info >p  {
   font-size:12px;
   color:gray;
}

.post_body{
    margin-left:40px;
    padding-left:10px;
    overflow-wrap : anywhere;
}

.post_button{
    display:flex;
    justify-content: space-evenly;
}
